@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300&display=swap');

.container {
	max-width: 890px;
	margin: auto;
	overflow: hidden;
	position: fixed;
	top: 80px;	
	width: 100vw;
	height: 5px;
	background-color: #E6FBAA;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	padding-right: 10px;
	align-items: flex-end;
	transition: 0.2s;
	z-index: 10;
}

.container h2,a {
	margin: 2px;
	color: tomato;
	text-decoration: none;
	font-family: 'Sansita Swashed', cursive;
	font-size: 1.1em;
	position: relative;
	bottom: 1px;
}

.container a:hover {
	color: red;
	font-size: 1.2em
}